<div class="mt-2 mb-1">
  <div class="tooltip w-full" data-tip="<%= t('send_signature_requests_via_sms') %>">
    <%= link_to submitter.sent_at? ? t('re_send_sms') : t('send_sms'), settings_sms_index_path, class: 'btn btn-sm btn-primary w-full' %>
  </div>
</div>
